* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.navtitle {
  margin-right: 40%;
}

.main-menu {
  background-color: #58a5dd;
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.main-menu a {
  color: #ffffff;
  margin-right: 1.1rem;
  text-decoration: none;
}

.nav-links {
  font-size: 1.25rem;
  margin-right: 10%;
  color: #ffffff;
}

.middle-container {
  background-color: #58a5dd;
  flex-direction: column;
  color: white;
  display: flex;
  align-items: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
  font-family: sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  border-radius: 50px;
}

.middle-container h1:first-child {
  text-decoration: underline;
}

#menu-inside img {
  height: 100vh;
}

.top {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.bg_img {
  height: 100vh;
  width: 100vw;
}

.topimg {
  height: 150px;
}

body {
  overflow-x: hidden;
}

.videos-container {
  background-color: #58a5dd;
  padding: 16.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 75px;
  font-family: sans-serif;
  font-size: 1.25rem;
  color: white;
}

.videos-container iframe {
  flex: 50%;
}

.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: rgb(255, 255, 255);
}

div iframe {
  margin: 20px;
}

.bottom-container {
  display: flex;
  flex-wrap: wrap;
}

.bottom-container img {
  flex: 0 1 200px;
  max-width: 100%;
  height: auto;
}

.about-images {
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-images img {
  max-width: 1200px;
  width: 100%;
}

.about-middle {
  padding: 200px;
  background-color: #58a5dd;
  color: #ffffff;
  display: flex;
  align-items: center;
  line-height: 1.6;
  font-family: sans-serif;
  font-size: 1.4rem;
  flex-direction: column;
}

.about-middle h1:first-child {
  text-decoration: underline;
}

.spital-middle {
  background-color: #ffffff;
}
.spital-middle img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}


.spital-bottom {
  display: flex;
  flex-wrap: wrap;
}

/* todo */
.spital-bottom img {
  flex: 0 1 200px;
  max-width: 100%;
  height: auto;
}

.carousel {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: #f5f5f5;
}

.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  display: none;
}

.carousel-slide:first-child {
  display: flex;
}

.carousel-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s;
  z-index: 1;
}

.carousel-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-arrow-left {
  left: 10px;
}

.carousel-arrow-right {
  right: 10px;
}

.carousel-title {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* /////////////////////////////////////////////////// */
.googlemaps {
  padding: 200px;
  background-color: #58a5dd;
  color: #ffffff;
  border-radius: 50px;
  margin-top: 40px;
}

.googlemaps h2 {
  text-align: center;
}

.text-center {
  width: 60%;
}
#more {
  display: none;
}

#myBtn {
  background-color: #ffffff;
  border: none;
  outline: none;
  color: black;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
}

.navbar-toggler {
  border: none !important;
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 14px;
  }
  .top h1 {
    font-size: 28px;
    margin-left: 1rem;
  }
  .middle-container p,
  .about-middle p {
    font-size: 16px;
  }
  .bottom-container img {
    width: 150px;
  }
  .videos-container iframe {
    width: 300px;
  }

    .spital-middle img {
      width: 100%;
      height: auto;
    }
  
    .spital-bottom img {
      /* flex-basis: 33%;
      max-width: 100%; */
      width: 150px;
    }
  }


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
  .top h1 {
    font-size: 32px;
    margin-left: 1rem;
  }
  .middle-container p,
  .about-middle p {
    font-size: 18px;
  }
  .bottom-container img {
    width: 200px;
  }
  .videos-container iframe {
    width: 350px;
  }

  .spital-middle img {
    width: 100%;
    height: auto;
  }

  .spital-bottom img {
    width: 200px;
    /* flex-basis: 25%;
    max-width: 100%; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  body {
    font-size: 18px;
  }
  .top h1 {
    font-size: 36px;
    margin-left: 1rem;
  }
  .middle-container p,
  .about-middle p {
    font-size: 20px;
  }
  .bottom-container img {
    width: 250px;
  }
  .videos-container iframe {
    width: 450px;
  }

  .spital-middle img {
    width: 100%;
    height: auto;
  }

  .spital-bottom img {
    width: 250px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
 /* @media only screen and (min-width: 1200px) {
  .bottom-container img {
    width: 300px;
  }
  .videos-container iframe {
    width: 500px;
  }

  .spital-middle img {
    width: 100%;
    height: auto;
  }

  .spital-bottom img {
    width: 300px;
  } */

