* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.navtitle {
  margin-right: 40%;
}

.main-menu {
  background-color: #58a5dd;

  display: flex;
  gap: 50px;
  justify-content: space-between;

  align-items: center;
  color: #ffffff;
}

.main-menu a {
  color: #ffffff;

  margin-right: 20px;
  text-decoration: none;
}

.main-menu a::after {
  text-decoration: none;
}

.main-menu a:link {
  color: #ffffff;
  text-decoration: none;
}

.main-menu a:visited {
  color: #ffffff;
}

.main-menu a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
/* added this */
.nav-links {
  font-size: 20px;
  margin-right: 10%;
  color: #ffffff;
}

.middle-container {
  background-color: #58a5dd;
  flex-direction: column;
  color: white;
  display: flex;
  align-items: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
  font-family: sans-serif;
  font-size: 25px;
  line-height: 1.6;
  border-radius: 50px;
}

.middle-container h1:first-child {
  text-decoration: underline;
}


#menu-inside img {
  height: 100vh;
}

/* Changes here */
.top {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.bg_img {
  height: 100vh;
  width: 100vw;
}

.topimg {
  height: 150px;
}

body {
  overflow-x: hidden;
}
.videos-container {
  background-color: #58a5dd;
  padding: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 75px;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
}

.videos-container iframe {
  flex: 50%;
}

.fa {
  padding: 20px;

  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: rgb(255, 255, 255);
}
div iframe {
  margin: 20px;
}
.bottom-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.about-images {
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* todo */
.about-images img {
  max-width: 1200px;
  width: 100%;
}

.about-middle {
  padding: 200px;
  background-color: #58a5dd;
  color: #ffffff;
  display: flex;
  align-items: center;
  line-height: 1.6;
  font-family: sans-serif;
  font-size: 25px;
  flex-direction: column;
}
.about-middle h1:first-child {
  text-decoration: underline;
}

.spital-middle {
  background-color: #ffffff;
}
.spital-middle img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}


.spital-bottom {
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 40px;
  display: flex;

  justify-content: center;
}

/* todo */
.spital-bottom img {
  max-width: 1200px;
  width: 100%;
}

/* ///////////////////Action */
.carousel {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-slide img {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.carousel-slide p {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}
.carousel-title {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.carousel-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-arrow-left {
  left: 10px;
}

.carousel-arrow-right {
  right: 10px;
}
/* /////////////////////////////////////////////////// */
.googlemaps {
  padding: 200px;
  background-color: #58a5dd;
  color: #ffffff;
  border-radius: 50px;
  margin-top: 40px;
}

.googlemaps h2 {
  text-align: center;
}

.text-center {
  width: 60%;
}
#more {
  display: none;
}

#myBtn {
  background-color: #ffffff;
  border: none;
  outline: none;
  color: black;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
}

.navbar-toggler {
  border: none !important;
}

/* @media only screen and (max-width: 768px) {
  body {
    font-size: 10px !important;
  }
  .top img {
    display: none;
  }
  .top h1 {
    font-size: 22px !important;
    margin-left: 1rem;
  }
  .middle-container p,
  .about-middle p {
    font-size: 12px !important;
  }
  .bottom-container {
    flex-wrap: none;
  }
  .bottom-container img {
    width: 200px;
  }
  
  .videos-container {
    background-color: #58a5dd;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
  }
  .videos-container iframe {
    width: 350px !important;
  }
  .spital {
    display: none !important;
  }

  .bg_img {
    width: 100% !important;
    height: auto !important;
  }
} */
